
#logo-desing-decora{
	font-size: 35px;
	font-family: monospace;
	font-style: normal;
	margin-top: 5%;
	color:#FF5733;
	float: left;  
}

#logo-desing-espacio{
	font-size: 35px;
	font-family: monospace;
	font-style: normal;
	margin-top: 5%;
	color:#33FF68;
	float: left;
}

#title-mapa{
	font-size: 35px;
	font-family: monospace;
	font-style: normal;
	margin-bottom: 5%;
	color:#FFFFFF;
}
 